Chocolatey will create a [GUI shim](https://docs.chocolatey.org/en-us/features/shim) for `%binaryName%.exe`, as is typical for a portable GUI application package. However, this application was not designed for global execution. Therefore, you may experience issues when launching the GUI or using the command-line interface via the shim. Users requiring this functionality should pass the `--shimgen-usetargetworkingdirectory` switch for the application to run correctly.
